# Jekyll
_site/
.sass-cache/
.jekyll-metadata
.DS_Store

# Vendor assets
assets/vendor/jquery/src
assets/vendor/jquery/external
assets/vendor/tether
assets/vendor/bootstrap/dist
assets/vendor/bootstrap/grunt
assets/vendor/bootstrap/nuget
assets/vendor/**/*.md
assets/vendor/**/*.txt
