
.home {
  .wedding-hero {
    margin-top: -60px;
    z-index: 1;
  }

  .avatar {
    border: 10px solid #fff;
    margin-top: -85px;
    margin-right: 20px;
    z-index: 2;
    position: relative;
  }

  .block {
    background: #89E5DC;
    margin-top: 10px;
    padding: 40px 20px 15px;

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 21px;
      color: #fff;
    }

  }

  .photo-creds {
    margin-top: 40px;
    font-size: $small-font-size;
    color: #666;
    opacity: 0.8;
  }

}
