---
---
body {
	max-width: 1100px;
	background-color: #1b1f22;
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/**
 * Header
 */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	margin-bottom: 170px;
}


/**
 * Footer
 */
footer {
	font-size: 40px;
	margin-bottom: 117px;
}

.footer__contact {
	text-decoration: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

/**
 * Links
 */
a {
	color: white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/**
 * Logo
 */
.site-logo {
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 0.02em;
}


/**
 * About
 */
.about__hello {
	display: flex;
	align-items: flex-end;
}

.about__hello__img {
	margin-right: 20px;
	border-radius: 50px;
}

.about__hello__hi {
	font-size: 40px;
	color: #cbcbcb;
}

.about__myself {
	font-size: 24px;
	margin-bottom: 160px;
}

.about__email {
	font-weight: 700;
	font-size: 16px;
}

/**
 * Werk
 */
.work {
	border-top: 1px solid #2a2e31;
	padding-top: 140px;
	margin-bottom: 160px;
}

.work__heading {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

.work__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;

	li:nth-child(4n) .work__item {
		margin-right: 0;
	}
}

.work__item {
	width: 260px;
	height: 260px;
	border: none;
	border-radius: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 26px;
	margin-right: 20px;
	opacity: 0.8;
	font-size: 18px;
	color: #2a2e31;
	cursor: pointer;
	transition: all 0.3s ease-out;

	&:active,
	&:hover,
	&:focus {
		opacity: 1;
		text-decoration: underline;
	}
}
